@use "../../tokens/index" as *;
@use "../../tokens/primitives/typography.primitives" as *;

.uds-flex {
  all: unset;
  display: flex;
}

.uds-flex--inline {
  display: inline-flex;
}

.uds-flex--full-width {
  width: 100%;
}

.uds-flex--span > * {
  flex: 1;
}

.uds-flex--items-per-row {
  display: grid;
  grid-template-columns: repeat(var(--uds-flex-items-per-row), minmax(0, 1fr));
}

.uds-flex--appearance-equal,
.uds-flex--appearance-right,
.uds-flex--appearance-left {
  align-items: stretch;
  display: grid;
  width: 100%;
}

.uds-flex--appearance-equal {
  grid-template-columns: 1fr 1fr;
}

.uds-flex--appearance-right {
  grid-template-columns: 1fr 2fr;
}

.uds-flex--appearance-left {
  grid-template-columns: 2fr 1fr;
}

.uds-flex--direction-row {
  flex-direction: row;
}

.uds-flex--direction-column {
  flex-direction: column;
}

.uds-flex--justify-flex-start {
  justify-content: flex-start;
}

.uds-flex--justify-center {
  justify-content: center;
}

.uds-flex--justify-flex-end {
  justify-content: flex-end;
}

.uds-flex--justify-space-between {
  justify-content: space-between;
}

.uds-flex--justify-space-around {
  justify-content: space-around;
}

.uds-flex--justify-space-evenly {
  justify-content: space-evenly;
}

.uds-flex--align-stretch {
  align-items: stretch;
}

.uds-flex--align-flex-start {
  align-items: flex-start;
}

.uds-flex--align-center {
  align-items: center;
}

.uds-flex--align-flex-end {
  align-items: flex-end;
}

.uds-flex--align-baseline {
  align-items: baseline;
}

.uds-flex--wrap-nowrap {
  flex-wrap: nowrap;
}

.uds-flex--wrap-wrap {
  flex-wrap: wrap;
}

.uds-flex--wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.uds-flex--gap-auto {
  justify-content: space-between;
}

.uds-flex__full {
  flex: 1;
  min-width: 0;
}

@media (max-width: 768px) {
  .uds-flex--appearance-equal,
  .uds-flex--appearance-right,
  .uds-flex--appearance-left {
    grid-template-columns: 1fr;
  }
}
