@use "../../scss/utils/space" as sp;
@use "../../scss/_text-styles" as type;   // or "../../scss/text-styles" if that’s the file name you use
@use "../../scss/design-tokens" as v;

.uds-btn {
    all: unset;
    align-items: center;
    background-color: v.$uds-surface-brand-500;
    border: solid 1px v.$uds-surface-brand-500;
    color: v.$uds-text-white;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    text-decoration: none;
    vertical-align: middle;

    @include type.uds-type("body-16-semibold");
    @include sp.radius(4);
    @include sp.p(8, 16);
    @include sp.gap(4);

    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        color 0.2s ease;

    .uds-btn__label {
        @include sp.px(4);
        display: inline-block;
        white-space: nowrap;
    }

    .uds-btn__icon {
        display: inline-flex;

        svg {
            height: 20px;
            width: 20px;
        }
    }


    &.uds-btn-sm {
        @include sp.p(8, 14);

        .uds-btn__label {
            @include type.uds-type("body-14-semibold");
        }

        .uds-btn__icon {
            svg {
                height: 16px;
                width: 16px;
            }
        }

        &.uds-btn--icon-only {
            @include sp.p(10);

        }

    }

    &.uds-btn-xs {
        @include sp.p(8, 12);
        @include sp.gap(2);

        .uds-btn__label {
            @include type.uds-type("body-12-semibold");
        }

        .uds-btn__icon {
            svg {
                height: 16px;
                width: 16px;
            }
        }

        &.uds-btn--icon-only {
            @include sp.p(8);
        }
    }

    &.uds-btn-lg {
        @include sp.p(12, 20);

        .uds-btn__label {
            @include type.uds-type("body-18-semibold");
        }

        .uds-btn__icon {
            svg {
                height: 24px;
                width: 24px;
            }
        }
    }

    &:before {
        bottom: 0px;
        content: "";
        display: block;
        left: 0px;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: all 0.3s ease;
    }

    &:focus {
        &:before {
            bottom: -4px;
            left: -4px;
            opacity: 1;
            right: -4px;
            top: -4px;

            @include sp.b(v.$uds-border-width-2, solid, v.$uds-border-system-action-default);
            @include sp.radius(6);
        }
    }

    &:disabled,
    &[aria-disabled="true"] {
        background-color: v.$uds-surface-disabled;
        @include sp.b(v.$uds-border-width-1, solid, v.$uds-border-disabled);
        color: v.$uds-text-disabled;
        cursor: not-allowed;
        pointer-events: none;
        user-select: none;
    }

    &[aria-invalid="true"] {
        background-color: v.$uds-surface-system-destructive-700;

        @include sp.b(v.$uds-border-width-1, solid, v.$uds-surface-system-destructive-700);

        &:hover {
            background-color: v.$uds-surface-system-destructive-600;
            @include sp.b(v.$uds-border-width-1, solid, v.$uds-surface-system-destructive-600)
        }
    }

    &:hover {
        background-color: v.$uds-surface-brand-400;
        border: solid 1px v.$uds-surface-brand-400;
    }

    &.uds-btn--soft {
        background-color: v.$uds-surface-brand-50;
        border: solid 1px v.$uds-surface-brand-50;
        color: v.$uds-text-default;

        &:hover {
            background-color: v.$uds-surface-brand-100;
        }
    }

    &.uds-btn--outline {
        background-color: transparent;
        border: solid 1px v.$uds-border-default;
        color: v.$uds-text-default;

        &:hover {
            background-color: transparent;
            border: solid 1px v.$uds-border-brand-700
        }
    }

    &.uds-btn--ghost {
        background-color: transparent;
        border: solid 1px transparent;
        color: v.$uds-text-default;

        &:hover {
            background-color: transparent;
            border: solid 1px transparent;
            color: v.$uds-surface-brand-600;
        }
    }

    &.uds-btn--icon-leading {
        /* optional tweaks if needed */
    }

    &.uds-btn--icon-trailing {
        /* optional tweaks if needed */
    }

    &.uds-btn--icon-only {
        @include sp.p(12);
        aspect-ratio: 1 / 1;

        .uds-btn__label {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            white-space: nowrap;
            clip-path: inset(50%);
        }
    }


}