@use "../../tokens/index" as *;
@use "../../tokens/primitives/typography.primitives" as *;
.uds-dot-status {
  all: unset;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;

  // Size variants
  &--small {
    height: 8px;
    width: 8px;
  }

  &--medium {
    height: 12px;
    width: 12px;
  }

  &--large {
    height: 16px;
    width: 16px;
  }

  // Variant colors
  &--red {
    background-color: var(--uds-color-accent-red-600);
  }

  &--blue {
    background-color: var(--uds-color-accent-blue-700);
  }

  &--inverse {
    background-color: var(--uds-surface-inverse);
  }

  &--orange {
    background-color: var(--uds-color-accent-orange-600);
  }

  &--sky {
    background-color: var(--uds-color-accent-sky-600);
  }

  &--indigo {
    background-color: var(--uds-color-accent-indigo-600);
  }

  &--rose {
    background-color: var(--uds-color-accent-rose-600);
  }

  &--neutral {
    background-color: var(--uds-color-neutrals-300);
  }

  &--celery {
    background-color: var(--uds-color-accent-lime-400);
  }

  &--lime {
    background-color: var(--uds-color-accent-lime-400);
  }

  &--yellow {
    background-color: var(--uds-color-accent-yellow-300);
  }

  &--green {
    background-color: var(--uds-color-accent-green-600);
  }

  &--cyan {
    background-color: var(--uds-color-accent-cyan-600);
  }

  &--purple {
    background-color: var(--uds-color-accent-purple-700);
  }

  &--fuchsia {
    background-color: var(--uds-color-accent-fuchsia-600);
  }

  &--outline {
    border: var(--uds-border-width-2) solid var(--uds-border-inverse);
  }
}
