.uds-code {
  all: unset;
  --uds-code-token-class: var(--uds-code-class);
  --uds-code-token-comment: var(--uds-code-comment);
  --uds-code-token-function: var(--uds-code-function);
  --uds-code-token-keyword: var(--uds-code-keyword);
  --uds-code-token-number: var(--uds-code-number);
  --uds-code-token-operator: var(--uds-code-operator);
  --uds-code-token-punctuation: var(--uds-code-punctuation);
  --uds-code-token-string: var(--uds-code-string);

  background: var(--uds-code-bg);
  border-radius: var(--uds-radius-8);
  color: var(--uds-code-fg);
  display: block;
  margin: 0;
  overflow-x: auto;
  padding: var(--uds-spacing-16);
  font-family:
    ui-monospace,
    "SFMono-Regular",
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: var(--uds-font-size-14);
  line-height: var(--uds-line-20);
  tab-size: 2;

  code {
    color: inherit;
    font: inherit;
    white-space: pre;
  }

  &--inline {
    border-radius: var(--uds-radius-4);
    display: inline;
    font-size: var(--uds-font-size-12);
    line-height: var(--uds-line-16);
    padding: var(--uds-spacing-2) var(--uds-spacing-6);
    white-space: pre-wrap;

    code {
      white-space: pre-wrap;
    }
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--uds-code-token-comment);
  }

  .token.punctuation {
    color: var(--uds-code-token-punctuation);
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: var(--uds-code-token-operator);
  }

  .token.number,
  .token.boolean,
  .token.constant,
  .token.symbol {
    color: var(--uds-code-token-number);
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.inserted,
  .token.regex {
    color: var(--uds-code-token-string);
  }

  .token.keyword,
  .token.selector,
  .token.atrule {
    color: var(--uds-code-token-keyword);
  }

  .token.function,
  .token.function-variable {
    color: var(--uds-code-token-function);
  }

  .token.class-name,
  .token.tag,
  .token.builtin {
    color: var(--uds-code-token-class);
  }
}
