:root {

    /* Colors */
    --uds-color-black: var(--system-color-black);
    --uds-color-white: var(--system-color-white);
    --uds-color-transparent: var(--system-color-transparent);

    --uds-color-neutrals-50: var(--system-color-neutrals-50);
    --uds-color-neutrals-100: var(--system-color-neutrals-100);
    --uds-color-neutrals-200: var(--system-color-neutrals-200);
    --uds-color-neutrals-300: var(--system-color-neutrals-300);
    --uds-color-neutrals-400: var(--system-color-neutrals-400);
    --uds-color-neutrals-500: var(--system-color-neutrals-500);
    --uds-color-neutrals-600: var(--system-color-neutrals-600);
    --uds-color-neutrals-700: var(--system-color-neutrals-700);
    --uds-color-neutrals-800: var(--system-color-neutrals-800);
    --uds-color-neutrals-900: var(--system-color-neutrals-900);
    --uds-color-blue: var(--uds-color-accent-blue-500);
    --uds-color-green: var(--uds-color-accent-green-500);
    --uds-color-orange: var(--uds-color-accent-orange-500);
    --uds-color-sky-600: var(--uds-color-accent-sky-600);
    --uds-color-sky-800: var(--uds-color-accent-sky-800);

    --uds-color-primary-25: var(--brand-primary-25);
    --uds-color-primary-50: var(--brand-primary-50);
    --uds-color-primary-100: var(--brand-primary-100);
    --uds-color-primary-200: var(--brand-primary-200);
    --uds-color-primary-300: var(--brand-primary-300);
    --uds-color-primary-400: var(--brand-primary-400);
    --uds-color-primary-500: var(--brand-primary-500);
    --uds-color-primary-600: var(--brand-primary-600);
    --uds-color-primary-700: var(--brand-primary-700);
    --uds-color-primary-800: var(--brand-primary-800);
    --uds-color-primary-900: var(--brand-primary-900);
    --uds-color-primary: var(--uds-color-primary-500);

    --uds-color-secondary-25: var(--brand-secondary-25);
    --uds-color-secondary-50: var(--brand-secondary-50);
    --uds-color-secondary-100: var(--brand-secondary-100);
    --uds-color-secondary-200: var(--brand-secondary-200);
    --uds-color-secondary-300: var(--brand-secondary-300);
    --uds-color-secondary-400: var(--brand-secondary-400);
    --uds-color-secondary-500: var(--brand-secondary-500);
    --uds-color-secondary-600: var(--brand-secondary-600);
    --uds-color-secondary-700: var(--brand-secondary-700);
    --uds-color-secondary-800: var(--brand-secondary-800);
    --uds-color-secondary-900: var(--brand-secondary-900);
    --uds-color-secondary: var(--uds-color-secondary-500);

    --uds-color-tertiary-25: var(--brand-tertiary-25);
    --uds-color-tertiary-50: var(--brand-tertiary-50);
    --uds-color-tertiary-100: var(--brand-tertiary-100);
    --uds-color-tertiary-200: var(--brand-tertiary-200);
    --uds-color-tertiary-300: var(--brand-tertiary-300);
    --uds-color-tertiary-400: var(--brand-tertiary-400);
    --uds-color-tertiary-500: var(--brand-tertiary-500);
    --uds-color-tertiary-600: var(--brand-tertiary-600);
    --uds-color-tertiary-700: var(--brand-tertiary-700);
    --uds-color-tertiary-800: var(--brand-tertiary-800);
    --uds-color-tertiary-900: var(--brand-tertiary-900);
    --uds-color-tertiary: var(--uds-color-tertiary-500);

    --uds-color-quaternary-25: var(--brand-quaternary-25);
    --uds-color-quaternary-50: var(--brand-quaternary-50);
    --uds-color-quaternary-100: var(--brand-quaternary-100);
    --uds-color-quaternary-200: var(--brand-quaternary-200);     
    --uds-color-quaternary-300: var(--brand-quaternary-300);
    --uds-color-quaternary-400: var(--brand-quaternary-400);
    --uds-color-quaternary-500: var(--brand-quaternary-500);
    --uds-color-quaternary-600: var(--brand-quaternary-600);
    --uds-color-quaternary-700: var(--brand-quaternary-700);
    --uds-color-quaternary-800: var(--brand-quaternary-800);
    --uds-color-quaternary-900: var(--brand-quaternary-900);
    --uds-color-quaternary: var(--uds-color-quaternary-500);
    --uds-color-neutrals: var(--uds-color-neutrals-500);
    /* Accent Colors - Amber */
    --uds-color-accent-amber-25: var(--system-color-accent-amber-25);
    --uds-color-accent-amber-50: var(--system-color-accent-amber-50);
    --uds-color-accent-amber-100: var(--system-color-accent-amber-100);
    --uds-color-accent-amber-200: var(--system-color-accent-amber-200);
    --uds-color-accent-amber-300: var(--system-color-accent-amber-300);
    --uds-color-accent-amber-400: var(--system-color-accent-amber-400);
    --uds-color-accent-amber-500: var(--system-color-accent-amber-500);
    --uds-color-accent-amber-600: var(--system-color-accent-amber-600);
    --uds-color-accent-amber-700: var(--system-color-accent-amber-700);
    --uds-color-accent-amber-800: var(--system-color-accent-amber-800);
    --uds-color-accent-amber-900: var(--system-color-accent-amber-900);
    --uds-color-accent-amber-1000: var(--system-color-accent-amber-1000);
    /* Accent Colors - Aqua */
    --uds-color-accent-aqua-25: var(--system-color-accent-aqua-25);      
    --uds-color-accent-aqua-50: var(--system-color-accent-aqua-50);
    --uds-color-accent-aqua-100: var(--system-color-accent-aqua-100);
    --uds-color-accent-aqua-200: var(--system-color-accent-aqua-200);
    --uds-color-accent-aqua-300: var(--system-color-accent-aqua-300);
    --uds-color-accent-aqua-400: var(--system-color-accent-aqua-400);
    --uds-color-accent-aqua-500: var(--system-color-accent-aqua-500);
    --uds-color-accent-aqua-600: var(--system-color-accent-aqua-600);
    --uds-color-accent-aqua-700: var(--system-color-accent-aqua-700);
    --uds-color-accent-aqua-800: var(--system-color-accent-aqua-800);
    --uds-color-accent-aqua-900: var(--system-color-accent-aqua-900);
    --uds-color-accent-aqua-1000: var(--system-color-accent-aqua-1000);
    /* Accent Colors - Blue */
    --uds-color-accent-blue-25: var(--system-color-accent-blue-25);
    --uds-color-accent-blue-50: var(--system-color-accent-blue-50);
    --uds-color-accent-blue-100: var(--system-color-accent-blue-100);
    --uds-color-accent-blue-200: var(--system-color-accent-blue-200);
    --uds-color-accent-blue-300: var(--system-color-accent-blue-300);
    --uds-color-accent-blue-400: var(--system-color-accent-blue-400);
    --uds-color-accent-blue-500: var(--system-color-accent-blue-500);
    --uds-color-accent-blue-600: var(--system-color-accent-blue-600);
    --uds-color-accent-blue-700: var(--system-color-accent-blue-700);
    --uds-color-accent-blue-800: var(--system-color-accent-blue-800);
    --uds-color-accent-blue-900: var(--system-color-accent-blue-900);
    --uds-color-accent-blue-1000: var(--system-color-accent-blue-1000);
    /* Accent Colors - Cyan */
    --uds-color-accent-cyan-25: var(--system-color-accent-cyan-25);
    --uds-color-accent-cyan-50: var(--system-color-accent-cyan-50);
    --uds-color-accent-cyan-100: var(--system-color-accent-cyan-100);
    --uds-color-accent-cyan-200: var(--system-color-accent-cyan-200);
    --uds-color-accent-cyan-300: var(--system-color-accent-cyan-300);
    --uds-color-accent-cyan-400: var(--system-color-accent-cyan-400);
    --uds-color-accent-cyan-500: var(--system-color-accent-cyan-500);
    --uds-color-accent-cyan-600: var(--system-color-accent-cyan-600);
    --uds-color-accent-cyan-700: var(--system-color-accent-cyan-700);
    --uds-color-accent-cyan-800: var(--system-color-accent-cyan-800);
    --uds-color-accent-cyan-900: var(--system-color-accent-cyan-900);
    --uds-color-accent-cyan-1000: var(--system-color-accent-cyan-1000);
    /* Accent Colors - Emerald */
    --uds-color-accent-emerald-25: var(--system-color-accent-emerald-25);
    --uds-color-accent-emerald-50: var(--system-color-accent-emerald-50);
    --uds-color-accent-emerald-100: var(--system-color-accent-emerald-100);
    --uds-color-accent-emerald-200: var(--system-color-accent-emerald-200);
    --uds-color-accent-emerald-300: var(--system-color-accent-emerald-300);
    --uds-color-accent-emerald-400: var(--system-color-accent-emerald-400);
    --uds-color-accent-emerald-500: var(--system-color-accent-emerald-500);
    --uds-color-accent-emerald-600: var(--system-color-accent-emerald-600);
    --uds-color-accent-emerald-700: var(--system-color-accent-emerald-700);
    --uds-color-accent-emerald-800: var(--system-color-accent-emerald-800);
    --uds-color-accent-emerald-900: var(--system-color-accent-emerald-900);
    --uds-color-accent-emerald-1000: var(--system-color-accent-emerald-1000);
    /* Accent Colors - Fuchsia */
    --uds-color-accent-fuchsia-25: var(--system-color-accent-fuchsia-25);  
    --uds-color-accent-fuchsia-50: var(--system-color-accent-fuchsia-50);
    --uds-color-accent-fuchsia-100: var(--system-color-accent-fuchsia-100);
    --uds-color-accent-fuchsia-200: var(--system-color-accent-fuchsia-200);
    --uds-color-accent-fuchsia-300: var(--system-color-accent-fuchsia-300);
    --uds-color-accent-fuchsia-400: var(--system-color-accent-fuchsia-400);
    --uds-color-accent-fuchsia-500: var(--system-color-accent-fuchsia-500);  
    --uds-color-accent-fuchsia-600: var(--system-color-accent-fuchsia-600);
    --uds-color-accent-fuchsia-700: var(--system-color-accent-fuchsia-700);
    --uds-color-accent-fuchsia-800: var(--system-color-accent-fuchsia-800);
    --uds-color-accent-fuchsia-900: var(--system-color-accent-fuchsia-900);
    --uds-color-accent-fuchsia-1000: var(--system-color-accent-fuchsia-1000);
    /* Accent Colors - Green */
    --uds-color-accent-green-25: var(--system-color-accent-green-25);
    --uds-color-accent-green-50: var(--system-color-accent-green-50);
    --uds-color-accent-green-100: var(--system-color-accent-green-100);
    --uds-color-accent-green-200: var(--system-color-accent-green-200);
    --uds-color-accent-green-300: var(--system-color-accent-green-300);
    --uds-color-accent-green-400: var(--system-color-accent-green-400);
    --uds-color-accent-green-500: var(--system-color-accent-green-500);
    --uds-color-accent-green-600: var(--system-color-accent-green-600);
    --uds-color-accent-green-700: var(--system-color-accent-green-700);
    --uds-color-accent-green-800: var(--system-color-accent-green-800);
    --uds-color-accent-green-900: var(--system-color-accent-green-900);
    --uds-color-accent-green-1000: var(--system-color-accent-green-1000);
    /* Accent Colors - Indigo */
    --uds-color-accent-indigo-25: var(--system-color-accent-indigo-25); 
    --uds-color-accent-indigo-50: var(--system-color-accent-indigo-50);
    --uds-color-accent-indigo-100: var(--system-color-accent-indigo-100);
    --uds-color-accent-indigo-200: var(--system-color-accent-indigo-200);
    --uds-color-accent-indigo-300: var(--system-color-accent-indigo-300);
    --uds-color-accent-indigo-400: var(--system-color-accent-indigo-400);
    --uds-color-accent-indigo-500: var(--system-color-accent-indigo-500);
    --uds-color-accent-indigo-600: var(--system-color-accent-indigo-600);
    --uds-color-accent-indigo-700: var(--system-color-accent-indigo-700);
    --uds-color-accent-indigo-800: var(--system-color-accent-indigo-800);
    --uds-color-accent-indigo-900: var(--system-color-accent-indigo-900);
    --uds-color-accent-indigo-1000: var(--system-color-accent-indigo-1000);
    /* Accent Colors - Lime */
    --uds-color-accent-lime-25: var(--system-color-accent-lime-25); 
    --uds-color-accent-lime-50: var(--system-color-accent-lime-50);
    --uds-color-accent-lime-100: var(--system-color-accent-lime-100);
    --uds-color-accent-lime-200: var(--system-color-accent-lime-200);
    --uds-color-accent-lime-300: var(--system-color-accent-lime-300);
    --uds-color-accent-lime-400: var(--system-color-accent-lime-400);
    --uds-color-accent-lime-500: var(--system-color-accent-lime-500);
    --uds-color-accent-lime-600: var(--system-color-accent-lime-600);
    --uds-color-accent-lime-700: var(--system-color-accent-lime-700);
    --uds-color-accent-lime-800: var(--system-color-accent-lime-800);
    --uds-color-accent-lime-900: var(--system-color-accent-lime-900);
    --uds-color-accent-lime-1000: var(--system-color-accent-lime-1000);
    /* Accent Colors - Magenta */
    --uds-color-accent-magenta-25: var(--system-color-accent-magenta-25);
    --uds-color-accent-magenta-50: var(--system-color-accent-magenta-50); 
    --uds-color-accent-magenta-100: var(--system-color-accent-magenta-100);
    --uds-color-accent-magenta-200: var(--system-color-accent-magenta-200);
    --uds-color-accent-magenta-300: var(--system-color-accent-magenta-300);
    --uds-color-accent-magenta-400: var(--system-color-accent-magenta-400);  
    --uds-color-accent-magenta-500: var(--system-color-accent-magenta-500);
    --uds-color-accent-magenta-600: var(--system-color-accent-magenta-600);
    --uds-color-accent-magenta-700: var(--system-color-accent-magenta-700);
    --uds-color-accent-magenta-800: var(--system-color-accent-magenta-800);
    --uds-color-accent-magenta-900: var(--system-color-accent-magenta-900);
    --uds-color-accent-magenta-1000: var(--system-color-accent-magenta-1000);
    /* Accent Colors - Orange */
    --uds-color-accent-orange-25: var(--system-color-accent-orange-25);
    --uds-color-accent-orange-50: var(--system-color-accent-orange-50); 
    --uds-color-accent-orange-100: var(--system-color-accent-orange-100);
    --uds-color-accent-orange-200: var(--system-color-accent-orange-200);
    --uds-color-accent-orange-300: var(--system-color-accent-orange-300);
    --uds-color-accent-orange-400: var(--system-color-accent-orange-400);    
    --uds-color-accent-orange-500: var(--system-color-accent-orange-500);
    --uds-color-accent-orange-600: var(--system-color-accent-orange-600);
    --uds-color-accent-orange-700: var(--system-color-accent-orange-700);
    --uds-color-accent-orange-800: var(--system-color-accent-orange-800);
    --uds-color-accent-orange-900: var(--system-color-accent-orange-900);
    --uds-color-accent-orange-1000: var(--system-color-accent-orange-1000);
    /* Accent Colors - Purple */
    --uds-color-accent-purple-25: var(--system-color-accent-purple-25);
    --uds-color-accent-purple-50: var(--system-color-accent-purple-50); 
    --uds-color-accent-purple-100: var(--system-color-accent-purple-100);
    --uds-color-accent-purple-200: var(--system-color-accent-purple-200);
    --uds-color-accent-purple-300: var(--system-color-accent-purple-300);
    --uds-color-accent-purple-400: var(--system-color-accent-purple-400);
    --uds-color-accent-purple-500: var(--system-color-accent-purple-500);
    --uds-color-accent-purple-600: var(--system-color-accent-purple-600);
    --uds-color-accent-purple-700: var(--system-color-accent-purple-700);
    --uds-color-accent-purple-800: var(--system-color-accent-purple-800);
    --uds-color-accent-purple-900: var(--system-color-accent-purple-900);
    --uds-color-accent-purple-1000: var(--system-color-accent-purple-1000);
    /* Accent Colors - Red */
    --uds-color-accent-red-25: var(--system-color-accent-red-25);    
    --uds-color-accent-red-50: var(--system-color-accent-red-50);
    --uds-color-accent-red-100: var(--system-color-accent-red-100);
    --uds-color-accent-red-200: var(--system-color-accent-red-200);
    --uds-color-accent-red-300: var(--system-color-accent-red-300);  
    --uds-color-accent-red-400: var(--system-color-accent-red-400);
    --uds-color-accent-red-500: var(--system-color-accent-red-500);
    --uds-color-accent-red-600: var(--system-color-accent-red-600);
    --uds-color-accent-red-700: var(--system-color-accent-red-700);
    --uds-color-accent-red-800: var(--system-color-accent-red-800);
    --uds-color-accent-red-900: var(--system-color-accent-red-900);
    --uds-color-accent-red-1000: var(--system-color-accent-red-1000);
    /* Accent Colors - Rose */
    --uds-color-accent-rose-25: var(--system-color-accent-rose-25); 
    --uds-color-accent-rose-50: var(--system-color-accent-rose-50);
    --uds-color-accent-rose-100: var(--system-color-accent-rose-100);
    --uds-color-accent-rose-200: var(--system-color-accent-rose-200);
    --uds-color-accent-rose-300: var(--system-color-accent-rose-300);
    --uds-color-accent-rose-400: var(--system-color-accent-rose-400);
    --uds-color-accent-rose-500: var(--system-color-accent-rose-500);
    --uds-color-accent-rose-600: var(--system-color-accent-rose-600);
    --uds-color-accent-rose-700: var(--system-color-accent-rose-700);
    --uds-color-accent-rose-800: var(--system-color-accent-rose-800);
    --uds-color-accent-rose-900: var(--system-color-accent-rose-900);
    --uds-color-accent-rose-1000: var(--system-color-accent-rose-1000);
    /* Accent Colors - Sky */
    --uds-color-accent-sky-25: var(--system-color-accent-sky-25);
    --uds-color-accent-sky-50: var(--system-color-accent-sky-50);
    --uds-color-accent-sky-100: var(--system-color-accent-sky-100);
    --uds-color-accent-sky-200: var(--system-color-accent-sky-200);
    --uds-color-accent-sky-300: var(--system-color-accent-sky-300);
    --uds-color-accent-sky-400: var(--system-color-accent-sky-400);
    --uds-color-accent-sky-500: var(--system-color-accent-sky-500);
    --uds-color-accent-sky-600: var(--system-color-accent-sky-600);
    --uds-color-accent-sky-700: var(--system-color-accent-sky-700);
    --uds-color-accent-sky-800: var(--system-color-accent-sky-800);
    --uds-color-accent-sky-900: var(--system-color-accent-sky-900);
    --uds-color-accent-sky-1000: var(--system-color-accent-sky-1000);
    /* Accent Colors - Violet */
    --uds-color-accent-violet-25: var(--system-color-accent-violet-25);
    --uds-color-accent-violet-50: var(--system-color-accent-violet-50);
    --uds-color-accent-violet-100: var(--system-color-accent-violet-100);
    --uds-color-accent-violet-200: var(--system-color-accent-violet-200);
    --uds-color-accent-violet-300: var(--system-color-accent-violet-300);
    --uds-color-accent-violet-400: var(--system-color-accent-violet-400);
    --uds-color-accent-violet-500: var(--system-color-accent-violet-500);
    --uds-color-accent-violet-600: var(--system-color-accent-violet-600);
    --uds-color-accent-violet-700: var(--system-color-accent-violet-700);
    --uds-color-accent-violet-800: var(--system-color-accent-violet-800);
    --uds-color-accent-violet-900: var(--system-color-accent-violet-900);
    --uds-color-accent-violet-1000: var(--system-color-accent-violet-1000);
    /* Accent Colors - Yellow */
    --uds-color-accent-yellow-25: var(--system-color-accent-yellow-25);
    --uds-color-accent-yellow-50: var(--system-color-accent-yellow-50); 
    --uds-color-accent-yellow-100: var(--system-color-accent-yellow-100);
    --uds-color-accent-yellow-200: var(--system-color-accent-yellow-200);
    --uds-color-accent-yellow-300: var(--system-color-accent-yellow-300);
    --uds-color-accent-yellow-400: var(--system-color-accent-yellow-400);
    --uds-color-accent-yellow-500: var(--system-color-accent-yellow-500);
    --uds-color-accent-yellow-600: var(--system-color-accent-yellow-600);
    --uds-color-accent-yellow-700: var(--system-color-accent-yellow-700);
    --uds-color-accent-yellow-800: var(--system-color-accent-yellow-800);
    --uds-color-accent-yellow-900: var(--system-color-accent-yellow-900);
    --uds-color-accent-yellow-1000: var(--system-color-accent-yellow-1000);   
}

.brand-default,
.brand-comphealth,
.brand-weatherby,
.brand-connect,
.brand-locumsmart,
.brand-wireframe,
.brand-modio,
.brand-gms {
    --uds-color-primary-25: var(--brand-primary-25);
    --uds-color-primary-50: var(--brand-primary-50);
    --uds-color-primary-100: var(--brand-primary-100);
    --uds-color-primary-200: var(--brand-primary-200);
    --uds-color-primary-300: var(--brand-primary-300);
    --uds-color-primary-400: var(--brand-primary-400);
    --uds-color-primary-500: var(--brand-primary-500);
    --uds-color-primary-600: var(--brand-primary-600);
    --uds-color-primary-700: var(--brand-primary-700);
    --uds-color-primary-800: var(--brand-primary-800);
    --uds-color-primary-900: var(--brand-primary-900);

    --uds-color-secondary-25: var(--brand-secondary-25);
    --uds-color-secondary-50: var(--brand-secondary-50);
    --uds-color-secondary-100: var(--brand-secondary-100);
    --uds-color-secondary-200: var(--brand-secondary-200);
    --uds-color-secondary-300: var(--brand-secondary-300);
    --uds-color-secondary-400: var(--brand-secondary-400);
    --uds-color-secondary-500: var(--brand-secondary-500);
    --uds-color-secondary-600: var(--brand-secondary-600);
    --uds-color-secondary-700: var(--brand-secondary-700);
    --uds-color-secondary-800: var(--brand-secondary-800);
    --uds-color-secondary-900: var(--brand-secondary-900);

    --uds-color-tertiary-25: var(--brand-tertiary-25);
    --uds-color-tertiary-50: var(--brand-tertiary-50);
    --uds-color-tertiary-100: var(--brand-tertiary-100);
    --uds-color-tertiary-200: var(--brand-tertiary-200);
    --uds-color-tertiary-300: var(--brand-tertiary-300);
    --uds-color-tertiary-400: var(--brand-tertiary-400);
    --uds-color-tertiary-500: var(--brand-tertiary-500);
    --uds-color-tertiary-600: var(--brand-tertiary-600);
    --uds-color-tertiary-700: var(--brand-tertiary-700);
    --uds-color-tertiary-800: var(--brand-tertiary-800);
    --uds-color-tertiary-900: var(--brand-tertiary-900);

    --uds-color-quaternary-25: var(--brand-quaternary-25);
    --uds-color-quaternary-50: var(--brand-quaternary-50);
    --uds-color-quaternary-100: var(--brand-quaternary-100);
    --uds-color-quaternary-200: var(--brand-quaternary-200);
    --uds-color-quaternary-300: var(--brand-quaternary-300);
    --uds-color-quaternary-400: var(--brand-quaternary-400);
    --uds-color-quaternary-500: var(--brand-quaternary-500);
    --uds-color-quaternary-600: var(--brand-quaternary-600);
    --uds-color-quaternary-700: var(--brand-quaternary-700);
    --uds-color-quaternary-800: var(--brand-quaternary-800);
    --uds-color-quaternary-900: var(--brand-quaternary-900);
}