@use "../../tokens/index" as *;
@use "../../tokens/primitives/typography.primitives" as *;
@use "./_link.tokens" as *;

.uds-link {
  all: unset;
  align-items: center;
  display: inline-flex;
  gap: var(--uds-spacing-4);
  @include uds-body-14-medium;
  text-decoration-thickness: from-font;
  text-underline-offset: var(--uds-spacing-2);
  transition: color var(--uds-animation-duration-200) var(--uds-animation-ease-standard);

  &--primary {
    color: var(--uds-text-link-primary-default);

    &:visited {
      color: var(--uds-text-link-primary-visited);
    }

    &:hover {
      color: var(--uds-text-link-primary-hover);
    }

    &:active {
      color: var(--uds-text-link-primary-active);
    }
  }

  &--secondary {
    color: var(--uds-text-link-secondary-default);

    &:visited {
      color: var(--uds-text-link-secondary-visited);
    }

    &:hover {
      color: var(--uds-text-link-secondary-hover);
    }

    &:active {
      color: var(--uds-text-link-secondary-active);
    }
  }

  &--prominent {
    color: var(--uds-text-link-primary-default);
    @include uds-body-14-bold;
  }

  &--external {
    color: var(--uds-text-link-primary-default);
  }

  &--underline-always {
    text-decoration: underline;
  }

  &--underline-hover {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--underline-none {
    text-decoration: none;
  }

  &:focus-visible {
    outline: solid var(--uds-focus-ring-width) var(--uds-focus-ring-border);
    outline-offset: var(--uds-focus-ring-offset);
  }

  &--disabled {
    color: var(--uds-text-disabled);
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
  }

  &__icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
}
