$uds-border-brand-primary: #009add;
$uds-border-brand-quaternary: #004b88;
$uds-border-brand-secondary: #aee0f4;
$uds-border-brand-tertiary: #0c6bb0;
$uds-border-disabled: #d2d5dc;
$uds-border-inverse: #d2d5dc;
$uds-border-primary: #d2d5dc;
$uds-border-quaternary: #d2d5dc;
$uds-border-secondary: #e6e7eb;
$uds-border-tertiary: #f3f4f6;
$uds-border-transparent: rgba(255, 255, 255, 0.009999999776482582);

$uds-button-border-primary-default: #008dcf;
$uds-button-border-primary-destructive: #dc2625;
$uds-button-border-primary-disabled: #d2d5dc;
$uds-button-border-primary-hover: #0c6bb0;
$uds-button-border-secondary-default: #e3f5fa;
$uds-button-border-secondary-hover: #aee0f4;
$uds-button-icons-disabled: #9ca2ae;
$uds-button-icons-primary: #ffffff;
$uds-button-icons-quaternary: #0c6bb0;
$uds-button-icons-secondary: #111111;
$uds-button-icons-tertiary: #008dcf;
$uds-button-surface-primary-default: #008dcf;
$uds-button-surface-primary-destructive: #dc2625;
$uds-button-surface-primary-disabled: #e6e7eb;
$uds-button-surface-primary-hover: #0c6bb0;
$uds-button-surface-secondary-default: #e3f5fa;
$uds-button-surface-secondary-hover: #aee0f4;
$uds-button-text-default: #ffffff;
$uds-button-text-disabled: #9ca2ae;
$uds-button-text-quaternary: #0c6bb0;
$uds-button-text-secondary: #111111;
$uds-button-text-tertiary: #008dcf;

$uds-code-bg: #111828;
$uds-code-class: #e879f9;
$uds-code-comment: #6b7380;
$uds-code-fg: #f3f4f6;
$uds-code-function: #a78bfa;
$uds-code-keyword: #38bdf8;
$uds-code-number: #fbbf24;
$uds-code-operator: #fb7286;
$uds-code-punctuation: #9ca2ae;
$uds-code-string: #34d399;

$uds-color-accent-amber-25: #ff0000;
$uds-color-accent-amber-50: #fef3c7;
$uds-color-accent-amber-100: #fde68a;
$uds-color-accent-amber-200: #fcd34d;
$uds-color-accent-amber-300: #fbc02d;
$uds-color-accent-amber-400: #fbbf24;
$uds-color-accent-amber-500: #f59e0b;
$uds-color-accent-amber-600: #d97706;
$uds-color-accent-amber-700: #b45309;
$uds-color-accent-amber-800: #92400e;
$uds-color-accent-amber-900: #78350f;
$uds-color-accent-amber-1000: #5f2a09;
$uds-color-accent-aqua-25: #f0fdfa;
$uds-color-accent-aqua-50: #ccfbf1;
$uds-color-accent-aqua-100: #99f6e4;
$uds-color-accent-aqua-200: #5eead4;
$uds-color-accent-aqua-300: #2dd4bf;
$uds-color-accent-aqua-400: #14b8a6;
$uds-color-accent-aqua-500: #0d9488;
$uds-color-accent-aqua-600: #0f766e;
$uds-color-accent-aqua-700: #115e59;
$uds-color-accent-aqua-800: #134e4a;
$uds-color-accent-aqua-900: #0f3a37;
$uds-color-accent-aqua-1000: #0a2e2c;
$uds-color-accent-blue-25: #f2f7ff;
$uds-color-accent-blue-50: #eff6ff;
$uds-color-accent-blue-100: #dbeaff;
$uds-color-accent-blue-200: #bfdcfe;
$uds-color-accent-blue-300: #93c4fc;
$uds-color-accent-blue-400: #61a5fa;
$uds-color-accent-blue-500: #3b82f6;
$uds-color-accent-blue-600: #2563ec;
$uds-color-accent-blue-700: #1d4ed7;
$uds-color-accent-blue-800: #1f41af;
$uds-color-accent-blue-900: #1f3a8b;
$uds-color-accent-blue-1000: #182e6f;
$uds-color-accent-cyan-25: #effeff;
$uds-color-accent-cyan-50: #ecfeff;
$uds-color-accent-cyan-100: #cffbfe;
$uds-color-accent-cyan-200: #a5f3fd;
$uds-color-accent-cyan-300: #66e8f8;
$uds-color-accent-cyan-400: #21d3ed;
$uds-color-accent-cyan-500: #07b6d5;
$uds-color-accent-cyan-600: #0891b3;
$uds-color-accent-cyan-700: #0f7490;
$uds-color-accent-cyan-800: #165e76;
$uds-color-accent-cyan-900: #164f63;
$uds-color-accent-cyan-1000: #113f4f;
$uds-color-accent-emerald-25: #effdf7;
$uds-color-accent-emerald-50: #ecfdf5;
$uds-color-accent-emerald-100: #d0fae4;
$uds-color-accent-emerald-200: #a7f3cf;
$uds-color-accent-emerald-300: #6de7b6;
$uds-color-accent-emerald-400: #34d399;
$uds-color-accent-emerald-500: #10b982;
$uds-color-accent-emerald-600: #05976a;
$uds-color-accent-emerald-700: #057857;
$uds-color-accent-emerald-800: #075f47;
$uds-color-accent-emerald-900: #064d3b;
$uds-color-accent-emerald-1000: #043d2f;
$uds-color-accent-fuchsia-25: #fef6ff;
$uds-color-accent-fuchsia-50: #fef4ff;
$uds-color-accent-fuchsia-100: #fae8fe;
$uds-color-accent-fuchsia-200: #f5cffe;
$uds-color-accent-fuchsia-300: #f0abfc;
$uds-color-accent-fuchsia-400: #e879f9;
$uds-color-accent-fuchsia-500: #d946ef;
$uds-color-accent-fuchsia-600: #c026d4;
$uds-color-accent-fuchsia-700: #a21caf;
$uds-color-accent-fuchsia-800: #861990;
$uds-color-accent-fuchsia-900: #701a75;
$uds-color-accent-fuchsia-1000: #59145d;
$uds-color-accent-green-25: #f3fdf6;
$uds-color-accent-green-50: #f0fdf4;
$uds-color-accent-green-100: #dcfce7;
$uds-color-accent-green-200: #bbf7d1;
$uds-color-accent-green-300: #86efac;
$uds-color-accent-green-400: #4ade80;
$uds-color-accent-green-500: #23c55e;
$uds-color-accent-green-600: #17a34a;
$uds-color-accent-green-700: #157f3d;
$uds-color-accent-green-800: #176535;
$uds-color-accent-green-900: #15532e;
$uds-color-accent-green-1000: #104224;
$uds-color-accent-indigo-25: #f1f4fe;
$uds-color-accent-indigo-50: #eef2fe;
$uds-color-accent-indigo-100: #e1e7ff;
$uds-color-accent-indigo-200: #c7d2ff;
$uds-color-accent-indigo-300: #a6b4fd;
$uds-color-accent-indigo-400: #818cf8;
$uds-color-accent-indigo-500: #6366f1;
$uds-color-accent-indigo-600: #5046e5;
$uds-color-accent-indigo-700: #4438ca;
$uds-color-accent-indigo-800: #3730a2;
$uds-color-accent-indigo-900: #312d81;
$uds-color-accent-indigo-1000: #272467;
$uds-color-accent-lime-25: #f7feeb;
$uds-color-accent-lime-50: #f6fee7;
$uds-color-accent-lime-100: #ecfccb;
$uds-color-accent-lime-200: #daf99c;
$uds-color-accent-lime-300: #bef164;
$uds-color-accent-lime-400: #a3e636;
$uds-color-accent-lime-500: #83cc16;
$uds-color-accent-lime-600: #64a30e;
$uds-color-accent-lime-700: #5a8720;
$uds-color-accent-lime-800: #3f6212;
$uds-color-accent-lime-900: #365313;
$uds-color-accent-lime-1000: #2b420f;
$uds-color-accent-magenta-25: #fff5fb;
$uds-color-accent-magenta-50: #fdf2f8;
$uds-color-accent-magenta-100: #fce7f3;
$uds-color-accent-magenta-200: #fbcfe8;
$uds-color-accent-magenta-300: #f9a8d4;
$uds-color-accent-magenta-400: #f472b6;
$uds-color-accent-magenta-500: #ec4899;
$uds-color-accent-magenta-600: #db2777;
$uds-color-accent-magenta-700: #be185d;
$uds-color-accent-magenta-800: #9d174d;
$uds-color-accent-magenta-900: #831843;
$uds-color-accent-magenta-1000: #6b1235;
$uds-color-accent-orange-25: #fffbf7;
$uds-color-accent-orange-50: #fffaf5;
$uds-color-accent-orange-100: #fff6ed;
$uds-color-accent-orange-200: #ffead5;
$uds-color-accent-orange-300: #fddcab;
$uds-color-accent-orange-400: #feb273;
$uds-color-accent-orange-500: #fd853a;
$uds-color-accent-orange-600: #fb6514;
$uds-color-accent-orange-700: #ec4a0a;
$uds-color-accent-orange-800: #9c2a10;
$uds-color-accent-orange-900: #7e2410;
$uds-color-accent-orange-1000: #641c0c;
$uds-color-accent-purple-25: #fbf7ff;
$uds-color-accent-purple-50: #fbf5ff;
$uds-color-accent-purple-100: #f4e8fe;
$uds-color-accent-purple-200: #ead5fe;
$uds-color-accent-purple-300: #d8b4fe;
$uds-color-accent-purple-400: #c085fd;
$uds-color-accent-purple-500: #a755f7;
$uds-color-accent-purple-600: #9334ea;
$uds-color-accent-purple-700: #7e22cf;
$uds-color-accent-purple-800: #6b22a8;
$uds-color-accent-purple-900: #571c86;
$uds-color-accent-purple-1000: #45166b;
$uds-color-accent-red-25: #fef4f4;
$uds-color-accent-red-50: #fef2f2;
$uds-color-accent-red-100: #fee2e1;
$uds-color-accent-red-200: #fecbca;
$uds-color-accent-red-300: #fda5a4;
$uds-color-accent-red-400: #f87070;
$uds-color-accent-red-500: #f04444;
$uds-color-accent-red-600: #dc2625;
$uds-color-accent-red-700: #ba1c1d;
$uds-color-accent-red-800: #991b1c;
$uds-color-accent-red-900: #7f1d1e;
$uds-color-accent-red-1000: #651718;
$uds-color-accent-rose-25: #fff3f3;
$uds-color-accent-rose-50: #fff1f1;
$uds-color-accent-rose-100: #fee4e7;
$uds-color-accent-rose-200: #fecdd3;
$uds-color-accent-rose-300: #fea4b0;
$uds-color-accent-rose-400: #fb7286;
$uds-color-accent-rose-500: #f43f5e;
$uds-color-accent-rose-600: #e21d48;
$uds-color-accent-rose-700: #be113c;
$uds-color-accent-rose-800: #9f133a;
$uds-color-accent-rose-900: #891336;
$uds-color-accent-rose-1000: #6d0f2b;
$uds-color-accent-sky-25: #f3faff;
$uds-color-accent-sky-50: #f0f9ff;
$uds-color-accent-sky-100: #e0f2fe;
$uds-color-accent-sky-200: #bae7fe;
$uds-color-accent-sky-300: #7ed3fc;
$uds-color-accent-sky-400: #38bdf8;
$uds-color-accent-sky-500: #0ea5ea;
$uds-color-accent-sky-600: #0384c6;
$uds-color-accent-sky-700: #0469a1;
$uds-color-accent-sky-800: #075a86;
$uds-color-accent-sky-900: #0c4a6f;
$uds-color-accent-sky-1000: #0c4a6f;
$uds-color-accent-violet-25: #f7f5ff;
$uds-color-accent-violet-50: #f5f3ff;
$uds-color-accent-violet-100: #edeaff;
$uds-color-accent-violet-200: #ddd6ff;
$uds-color-accent-violet-300: #c5b5fe;
$uds-color-accent-violet-400: #a78bfa;
$uds-color-accent-violet-500: #8b5cf6;
$uds-color-accent-violet-600: #7d3aec;
$uds-color-accent-violet-700: #6d28d9;
$uds-color-accent-violet-800: #5b20b6;
$uds-color-accent-violet-900: #4d1d95;
$uds-color-accent-violet-1000: #3d1777;
$uds-color-accent-yellow-25: #fefcec;
$uds-color-accent-yellow-50: #fefce8;
$uds-color-accent-yellow-100: #fef9c3;
$uds-color-accent-yellow-200: #fef08a;
$uds-color-accent-yellow-300: #fde047;
$uds-color-accent-yellow-400: #facc15;
$uds-color-accent-yellow-500: #e9b308;
$uds-color-accent-yellow-600: #ca8a04;
$uds-color-accent-yellow-700: #a26208;
$uds-color-accent-yellow-800: #854e0e;
$uds-color-accent-yellow-900: #723f12;
$uds-color-accent-yellow-1000: #5b320e;
$uds-color-black: #111111;
$uds-color-neutrals-25: #fafbfc;
$uds-color-neutrals-50: #f9fafc;
$uds-color-neutrals-100: #f3f4f6;
$uds-color-neutrals-200: #e6e7eb;
$uds-color-neutrals-300: #d2d5dc;
$uds-color-neutrals-400: #9ca2ae;
$uds-color-neutrals-500: #6b7380;
$uds-color-neutrals-600: #4c5564;
$uds-color-neutrals-700: #384152;
$uds-color-neutrals-800: #202938;
$uds-color-neutrals-900: #111828;
$uds-color-neutrals-1000: #0d1320;
$uds-color-primary-25: #f2fafd;
$uds-color-primary-50: #e3f5fa;
$uds-color-primary-100: #aee0f4;
$uds-color-primary-200: #78cbec;
$uds-color-primary-300: #41b7e5;
$uds-color-primary-400: #00a7e1;
$uds-color-primary-500: #009add;
$uds-color-primary-600: #008dcf;
$uds-color-primary-700: #0c6bb0;
$uds-color-primary-800: #006aa8;
$uds-color-primary-900: #004b88;
$uds-color-quaternary-25: #fefdf6;
$uds-color-quaternary-50: #fdfbed;
$uds-color-quaternary-100: #f8f3cb;
$uds-color-quaternary-200: #f1e796;
$uds-color-quaternary-300: #ead55f;
$uds-color-quaternary-400: #f8ca10;
$uds-color-quaternary-500: #fbb03a;
$uds-color-quaternary-600: #c3841c;
$uds-color-quaternary-700: #a26e1b;
$uds-color-quaternary-800: #845c1c;
$uds-color-quaternary-900: #6d4d1a;
$uds-color-secondary-25: #fefbf5;
$uds-color-secondary-50: #fef8ee;
$uds-color-secondary-100: #feefd6;
$uds-color-secondary-200: #fbdcad;
$uds-color-secondary-300: #f9c278;
$uds-color-secondary-400: #f59e42;
$uds-color-secondary-500: #f2821f;
$uds-color-secondary-600: #e36613;
$uds-color-secondary-700: #bc4d12;
$uds-color-secondary-800: #963e16;
$uds-color-secondary-900: #793515;
$uds-color-tertiary-25: #eff2f5;
$uds-color-tertiary-50: #e6ebf0;
$uds-color-tertiary-100: #bfcddb;
$uds-color-tertiary-200: #97adc3;
$uds-color-tertiary-300: #708caa;
$uds-color-tertiary-400: #4f7499;
$uds-color-tertiary-500: #295d8b;
$uds-color-tertiary-600: #215583;
$uds-color-tertiary-700: #174b77;
$uds-color-tertiary-800: #12416b;
$uds-color-tertiary-900: #0f3152;
$uds-color-transparent: rgba(255, 255, 255, 0.009999999776482582);
$uds-color-white: #ffffff;

$uds-focus-ring-border: #2563ec;

$uds-icon-brand-primary: #009add;
$uds-icon-brand-quaternary: #004b88;
$uds-icon-brand-secondary: #e3f5fa;
$uds-icon-brand-tertiary: #0c6bb0;
$uds-icon-disabled: #9ca2ae;
$uds-icon-inverse: #ffffff;
$uds-icon-link-primary-active: #075a86;
$uds-icon-link-primary-default: #0384c6;
$uds-icon-link-primary-hover: #075a86;
$uds-icon-link-primary-visited: #075a86;
$uds-icon-link-secondary-active: #111111;
$uds-icon-link-secondary-default: #111111;
$uds-icon-link-secondary-hover: #384152;
$uds-icon-link-secondary-visited: #6b7380;
$uds-icon-placeholder: #9ca2ae;
$uds-icon-primary: #202938;
$uds-icon-quaternary: #d2d5dc;
$uds-icon-secondary: #4c5564;
$uds-icon-tertiary: #6b7380;

$uds-input-border: #d2d5dc;
$uds-input-surface: #f9fafc;

$uds-scrim-10: rgba(0, 0, 0, 0.10000000149011612);
$uds-scrim-30: rgba(0, 0, 0, 0.30000001192092896);
$uds-scrim-50: rgba(0, 0, 0, 0.5);
$uds-scrim-70: rgba(0, 0, 0, 0.699999988079071);
$uds-scrim-90: rgba(0, 0, 0, 0.8999999761581421);

$uds-shadow-5: rgba(0, 0, 0, 0.05000000074505806);
$uds-shadow-8: rgba(0, 0, 0, 0.07999999821186066);
$uds-shadow-10: rgba(0, 0, 0, 0.10000000149011612);
$uds-shadow-12: rgba(0, 0, 0, 0.11999999731779099);
$uds-shadow-15: rgba(0, 0, 0, 0.15000000596046448);
$uds-shadow-18: rgba(0, 0, 0, 0.18000000715255737);
$uds-shadow-25: rgba(0, 0, 0, 0.25);

$uds-surface-brand-primary: #e3f5fa;
$uds-surface-brand-quaternary: #004b88;
$uds-surface-brand-secondary: #00a7e1;
$uds-surface-brand-tertiary: #0c6bb0;
$uds-surface-disabled: #f3f4f6;
$uds-surface-inverse: #111111;
$uds-surface-primary: #ffffff;
$uds-surface-quaternary: #e6e7eb;
$uds-surface-secondary: #f9fafc;
$uds-surface-tertiary: #f3f4f6;
$uds-surface-transparent: rgba(255, 255, 255, 0.009999999776482582);

$uds-system-action-primary: #2563ec;
$uds-system-action-quaternary: #eff6ff;
$uds-system-action-secondary: #61a5fa;
$uds-system-action-tertiary: #bfdcfe;
$uds-system-constructive-primary: #17a34a;
$uds-system-constructive-quaternary: #f0fdf4;
$uds-system-constructive-secondary: #4ade80;
$uds-system-constructive-tertiary: #86efac;
$uds-system-destructive-primary: #dc2625;
$uds-system-destructive-quaternary: #fef2f2;
$uds-system-destructive-secondary: #f87070;
$uds-system-destructive-tertiary: #fecbca;
$uds-system-warning-primary: #ca8a04;
$uds-system-warning-quaternary: #fefce8;
$uds-system-warning-secondary: #facc15;
$uds-system-warning-tertiary: #fef9c3;

$uds-text-brand-primary: #009add;
$uds-text-brand-quaternary: #004b88;
$uds-text-brand-secondary: #e3f5fa;
$uds-text-brand-tertiary: #0c6bb0;
$uds-text-disabled: #9ca2ae;
$uds-text-inverse: #ffffff;
$uds-text-link-primary-active: #075a86;
$uds-text-link-primary-default: #0384c6;
$uds-text-link-primary-hover: #075a86;
$uds-text-link-primary-visited: #075a86;
$uds-text-link-secondary-active: #111111;
$uds-text-link-secondary-default: #111111;
$uds-text-link-secondary-hover: #384152;
$uds-text-link-secondary-visited: #6b7380;
$uds-text-placeholder: #9ca2ae;
$uds-text-primary: #202938;
$uds-text-quaternary: #d2d5dc;
$uds-text-secondary: #4c5564;
$uds-text-tertiary: #6b7380;

$comphealth-primary-25: #f0ecf3;
$comphealth-primary-50: #eae4ee;
$comphealth-primary-100: #ccc4d7;
$comphealth-primary-200: #aea3bc;
$comphealth-primary-300: #8f7fa1;
$comphealth-primary-400: #79658d;
$comphealth-primary-500: #644d7b;
$comphealth-primary-600: #5e4775;
$comphealth-primary-700: #553f6c;
$comphealth-primary-800: #4b3a62;
$comphealth-primary-900: #3c304c;

$comphealth-quaternary-25: #fbfdfe;
$comphealth-quaternary-50: #f1f8fd;
$comphealth-quaternary-100: #dff0fa;
$comphealth-quaternary-200: #c6e5f7;
$comphealth-quaternary-300: #9fd5f1;
$comphealth-quaternary-400: #72bce8;
$comphealth-quaternary-500: #50a1e1;
$comphealth-quaternary-600: #3e88d5;
$comphealth-quaternary-700: #3272c3;
$comphealth-quaternary-800: #2f5d9e;
$comphealth-quaternary-900: #2a4f7e;

$comphealth-secondary-25: #fffbfa;
$comphealth-secondary-50: #fef3f2;
$comphealth-secondary-100: #fde5e3;
$comphealth-secondary-200: #fcd0cc;
$comphealth-secondary-300: #f9afa8;
$comphealth-secondary-400: #f48075;
$comphealth-secondary-500: #ea5c4f;
$comphealth-secondary-600: #d63a2c;
$comphealth-secondary-700: #b42d21;
$comphealth-secondary-800: #95291f;
$comphealth-secondary-900: #7c2820;

$comphealth-tertiary-25: #fef9f5;
$comphealth-tertiary-50: #fef4ec;
$comphealth-tertiary-100: #fde9d8;
$comphealth-tertiary-200: #fbceac;
$comphealth-tertiary-300: #f69e60;
$comphealth-tertiary-400: #f38744;
$comphealth-tertiary-500: #ef681f;
$comphealth-tertiary-600: #e05215;
$comphealth-tertiary-700: #ba3f12;
$comphealth-tertiary-800: #953718;
$comphealth-tertiary-900: #793016;

$connect-primary-25: #fafdff;
$connect-primary-50: #effaff;
$connect-primary-100: #def4ff;
$connect-primary-200: #b6ebff;
$connect-primary-300: #75ddff;
$connect-primary-400: #2ccdff;
$connect-primary-500: #00a8e2;
$connect-primary-600: #0093d4;
$connect-primary-700: #0075ab;
$connect-primary-800: #00638d;
$connect-primary-900: #065274;

$connect-quaternary-25: #f8f7f7;
$connect-quaternary-50: #f4f3f2;
$connect-quaternary-100: #e4e1dd;
$connect-quaternary-200: #cac5be;
$connect-quaternary-300: #aca398;
$connect-quaternary-400: #94887b;
$connect-quaternary-500: #85786d;
$connect-quaternary-600: #6f625a;
$connect-quaternary-700: #5c514c;
$connect-quaternary-800: #504643;
$connect-quaternary-900: #473e3c;

$connect-secondary-25: #fff9f5;
$connect-secondary-50: #fef4ed;
$connect-secondary-100: #fde6d5;
$connect-secondary-200: #fbcda9;
$connect-secondary-300: #f8ad74;
$connect-secondary-400: #f68c3b;
$connect-secondary-500: #f47615;
$connect-secondary-600: #f5822a;
$connect-secondary-700: #c55b09;
$connect-secondary-800: #a44c08;
$connect-secondary-900: #883e06;

$connect-tertiary-25: #fcfff0;
$connect-tertiary-50: #faffe5;
$connect-tertiary-100: #f2ffc7;
$connect-tertiary-200: #e5ff95;
$connect-tertiary-300: #d1fe58;
$connect-tertiary-400: #baf526;
$connect-tertiary-500: #9bdc06;
$connect-tertiary-600: #80bc00;
$connect-tertiary-700: #5a8506;
$connect-tertiary-800: #49690b;
$connect-tertiary-900: #3d580f;

$locumsmart-primary-25: #f2fafd;
$locumsmart-primary-50: #e3f5fa;
$locumsmart-primary-100: #aee0f4;
$locumsmart-primary-200: #78cbec;
$locumsmart-primary-300: #41b7e5;
$locumsmart-primary-400: #00a7e1;
$locumsmart-primary-500: #009add;
$locumsmart-primary-600: #008dcf;
$locumsmart-primary-700: #0c6bb0;
$locumsmart-primary-800: #006aa8;
$locumsmart-primary-900: #004b88;

$locumsmart-quaternary-25: #fefdf6;
$locumsmart-quaternary-50: #fdfbed;
$locumsmart-quaternary-100: #f8f3cb;
$locumsmart-quaternary-200: #f1e796;
$locumsmart-quaternary-300: #ead55f;
$locumsmart-quaternary-400: #f8ca10;
$locumsmart-quaternary-500: #fbb03a;
$locumsmart-quaternary-600: #c3841c;
$locumsmart-quaternary-700: #a26e1b;
$locumsmart-quaternary-800: #845c1c;
$locumsmart-quaternary-900: #6d4d1a;

$locumsmart-secondary-25: #fefbf5;
$locumsmart-secondary-50: #fef8ee;
$locumsmart-secondary-100: #feefd6;
$locumsmart-secondary-200: #fbdcad;
$locumsmart-secondary-300: #f9c278;
$locumsmart-secondary-400: #f59e42;
$locumsmart-secondary-500: #f2821f;
$locumsmart-secondary-600: #e36613;
$locumsmart-secondary-700: #bc4d12;
$locumsmart-secondary-800: #963e16;
$locumsmart-secondary-900: #793515;

$locumsmart-tertiary-25: #eff2f5;
$locumsmart-tertiary-50: #e6ebf0;
$locumsmart-tertiary-100: #bfcddb;
$locumsmart-tertiary-200: #97adc3;
$locumsmart-tertiary-300: #708caa;
$locumsmart-tertiary-400: #4f7499;
$locumsmart-tertiary-500: #295d8b;
$locumsmart-tertiary-600: #215583;
$locumsmart-tertiary-700: #174b77;
$locumsmart-tertiary-800: #12416b;
$locumsmart-tertiary-900: #0f3152;

$modio-primary-25: #f1fbfd;
$modio-primary-50: #e5f7fc;
$modio-primary-100: #c8ecf8;
$modio-primary-200: #a6dff1;
$modio-primary-300: #84d3eb;
$modio-primary-400: #5ec3e0;
$modio-primary-500: #3ba9d2;
$modio-primary-600: #2c91b6;
$modio-primary-700: #1e799b;
$modio-primary-800: #065d86;
$modio-primary-900: #04425f;

$modio-quaternary-25: #f8fbf4;
$modio-quaternary-50: #f3f8ec;
$modio-quaternary-100: #e6f1da;
$modio-quaternary-200: #cee4b4;
$modio-quaternary-300: #b5d68f;
$modio-quaternary-400: #9cc969;
$modio-quaternary-500: #8cc04f;
$modio-quaternary-600: #699636;
$modio-quaternary-700: #54782b;
$modio-quaternary-800: #476524;
$modio-quaternary-900: #2f4318;

$modio-secondary-25: #f3fbf9;
$modio-secondary-50: #ecf9f6;
$modio-secondary-100: #d8f3ec;
$modio-secondary-200: #b1e7d9;
$modio-secondary-300: #8bdac6;
$modio-secondary-400: #64ceb4;
$modio-secondary-500: #3aba9b;
$modio-secondary-600: #319b81;
$modio-secondary-700: #277c67;
$modio-secondary-800: #1d5d4d;
$modio-secondary-900: #16463a;

$modio-tertiary-25: #fefbf5;
$modio-tertiary-50: #fef6e7;
$modio-tertiary-100: #fcedcf;
$modio-tertiary-200: #f9db9f;
$modio-tertiary-300: #f7c96e;
$modio-tertiary-400: #f4b73e;
$modio-tertiary-500: #f4ba42;
$modio-tertiary-600: #c1840b;
$modio-tertiary-700: #a9740a;
$modio-tertiary-800: #744f07;
$modio-tertiary-900: #573c05;

$uds-brands-comphealth-orange: #ea6852;
$uds-brands-comphealth-purple: #624b78;
$uds-brands-connect-dark-blue: #0075c9;
$uds-brands-connect-light-blue: #00a7e1;
$uds-brands-locumsmart-black: #231f20;
$uds-brands-locumsmart-blue: #00a7e0;
$uds-brands-locumsmart-orange: #f58220;
$uds-brands-modio-black: #202938;
$uds-brands-modio-blue: #36a5ce;
$uds-brands-unified-black: #111111;
$uds-brands-unified-gray: #4c5564;
$uds-brands-weatherby-red: #db0032;
$uds-brands-weatherby-teal: #74c9ba;
$uds-brands-wireframe-black: #3d3935;
$uds-brands-wireframe-blue: #00a7e1;
$uds-brands-wireframe-green: #80bc00;
$uds-brands-wireframe-orange: #ff8300;

$weatherby-primary-25: #fcf2f5;
$weatherby-primary-50: #f9e5ec;
$weatherby-primary-100: #e7becc;
$weatherby-primary-200: #db8aa6;
$weatherby-primary-300: #c24d76;
$weatherby-primary-400: #b02958;
$weatherby-primary-500: #8f0a39;
$weatherby-primary-600: #7d0931;
$weatherby-primary-700: #6b082a;
$weatherby-primary-800: #590724;
$weatherby-primary-900: #40051a;

$weatherby-quaternary-25: #fffafa;
$weatherby-quaternary-50: #fff2f1;
$weatherby-quaternary-100: #ffe1df;
$weatherby-quaternary-200: #ffc8c5;
$weatherby-quaternary-300: #ffa29d;
$weatherby-quaternary-400: #ff6d64;
$weatherby-quaternary-500: #ff4338;
$weatherby-quaternary-600: #ed2115;
$weatherby-quaternary-700: #c8170d;
$weatherby-quaternary-800: #a5170f;
$weatherby-quaternary-900: #881a14;

$weatherby-secondary-25: #eef8f7;
$weatherby-secondary-50: #ddf2ee;
$weatherby-secondary-100: #acdfd6;
$weatherby-secondary-200: #74c9b9;
$weatherby-secondary-300: #38b49e;
$weatherby-secondary-400: #00a385;
$weatherby-secondary-500: #009277;
$weatherby-secondary-600: #02846c;
$weatherby-secondary-700: #01745f;
$weatherby-secondary-800: #006552;
$weatherby-secondary-900: #01483b;

$weatherby-tertiary-25: #fefbfd;
$weatherby-tertiary-50: #fbf4f8;
$weatherby-tertiary-100: #f9eaf2;
$weatherby-tertiary-200: #f4d6e5;
$weatherby-tertiary-300: #edb4d0;
$weatherby-tertiary-400: #e086b0;
$weatherby-tertiary-500: #d36192;
$weatherby-tertiary-600: #bf4373;
$weatherby-tertiary-700: #a03058;
$weatherby-tertiary-800: #892b4b;
$weatherby-tertiary-900: #732842;

$wireframe-primary-25: #fafafa;
$wireframe-primary-50: #f5f5f5;
$wireframe-primary-100: #ebebeb;
$wireframe-primary-200: #d1d1d1;
$wireframe-primary-300: #bebebe;
$wireframe-primary-400: #aaaaaa;
$wireframe-primary-500: #969696;
$wireframe-primary-600: #818181;
$wireframe-primary-700: #6a6a6a;
$wireframe-primary-800: #585858;
$wireframe-primary-900: #333333;

$wireframe-quaternary-25: #f5feff;
$wireframe-quaternary-50: #ecfeff;
$wireframe-quaternary-100: #cffafe;
$wireframe-quaternary-200: #a5f3fc;
$wireframe-quaternary-300: #67e8f9;
$wireframe-quaternary-400: #22d3ee;
$wireframe-quaternary-500: #06b6d4;
$wireframe-quaternary-600: #0891b2;
$wireframe-quaternary-700: #0e7490;
$wireframe-quaternary-800: #155e75;
$wireframe-quaternary-900: #164e63;

$wireframe-secondary-25: #fafdff;
$wireframe-secondary-50: #f0f9ff;
$wireframe-secondary-100: #e0f2fe;
$wireframe-secondary-200: #bae6fd;
$wireframe-secondary-300: #7dd3fc;
$wireframe-secondary-400: #38bdf8;
$wireframe-secondary-500: #0ea5e9;
$wireframe-secondary-600: #0284c7;
$wireframe-secondary-700: #0369a1;
$wireframe-secondary-800: #075985;
$wireframe-secondary-900: #0c4a6e;

$wireframe-tertiary-25: #eff2f5;
$wireframe-tertiary-50: #e6ebf0;
$wireframe-tertiary-100: #bfcddb;
$wireframe-tertiary-200: #97adc3;
$wireframe-tertiary-300: #708caa;
$wireframe-tertiary-400: #4f7499;
$wireframe-tertiary-500: #295d8b;
$wireframe-tertiary-600: #215583;
$wireframe-tertiary-700: #174b77;
$wireframe-tertiary-800: #12416b;
$wireframe-tertiary-900: #0f3152;

$uds-blur-2xl: 40px;
$uds-blur-3xl: 64px;
$uds-blur-lg: 16px;
$uds-blur-md: 8px;
$uds-blur-none: 0px;
$uds-blur-sm: 4px;
$uds-blur-xl: 24px;

$uds-border-border-1: 1px;
$uds-border-width-1: 1px;
$uds-border-width-2: 2px;
$uds-border-width-4: 4px;
$uds-border-width-6: 6px;
$uds-border-width-none: 0px;

$uds-elevation-base: 0px;
$uds-elevation-dropdown: 1000px;
$uds-elevation-modal: 1300px;
$uds-elevation-overlay: 1100px;
$uds-elevation-sticky: 100px;
$uds-elevation-toast: 1400px;
$uds-elevation-tooltip: 1500px;

$uds-focus-ring-offset: 2px;
$uds-focus-ring-width: 2px;

$uds-gap-0: 0px;
$uds-gap-2: 2px;
$uds-gap-4: 4px;
$uds-gap-8: 8px;
$uds-gap-12: 12px;
$uds-gap-16: 16px;
$uds-gap-24: 24px;
$uds-gap-32: 32px;

$uds-line-desktop-body-lg: 24px;
$uds-line-desktop-body-md: 20px;
$uds-line-desktop-body-sm: 16px;
$uds-line-desktop-display-2xl: 104px;
$uds-line-desktop-display-3xl: 136px;
$uds-line-desktop-display-lg: 68px;
$uds-line-desktop-display-md: 56px;
$uds-line-desktop-display-sm: 44px;
$uds-line-desktop-display-xl: 80px;
$uds-line-desktop-heading-lg: 36px;
$uds-line-desktop-heading-md: 32px;
$uds-line-desktop-heading-sm: 28px;
$uds-line-mobile-body-lg: 20px;
$uds-line-mobile-body-md: 16px;
$uds-line-mobile-body-sm: 16px;
$uds-line-mobile-display-2xl: 64px;
$uds-line-mobile-display-3xl: 68px;
$uds-line-mobile-display-lg: 44px;
$uds-line-mobile-display-md: 36px;
$uds-line-mobile-display-sm: 28px;
$uds-line-mobile-display-xl: 52px;
$uds-line-mobile-heading-lg: 24px;
$uds-line-mobile-heading-md: 24px;
$uds-line-mobile-heading-sm: 20px;
$uds-line-tablet-body-lg: 20px;
$uds-line-tablet-body-md: 16px;
$uds-line-tablet-body-sm: 16px;
$uds-line-tablet-display-2xl: 72px;
$uds-line-tablet-display-3xl: 96px;
$uds-line-tablet-display-lg: 48px;
$uds-line-tablet-display-md: 36px;
$uds-line-tablet-display-sm: 28px;
$uds-line-tablet-display-xl: 52px;
$uds-line-tablet-heading-lg: 24px;
$uds-line-tablet-heading-md: 24px;
$uds-line-tablet-heading-sm: 20px;

$uds-radius-0: 0px;
$uds-radius-2: 2px;
$uds-radius-4: 4px;
$uds-radius-6: 6px;
$uds-radius-8: 8px;
$uds-radius-12: 12px;
$uds-radius-16: 16px;
$uds-radius-20: 20px;
$uds-radius-24: 24px;
$uds-radius-9999: 9999px;
$uds-radius-none: 0px;

$uds-sizing-12: 12px;
$uds-sizing-16: 16px;
$uds-sizing-20: 20px;
$uds-sizing-24: 24px;
$uds-sizing-32: 32px;
$uds-sizing-40: 40px;
$uds-sizing-48: 48px;

$uds-spacing-0: 0px;
$uds-spacing-2: 2px;
$uds-spacing-4: 4px;
$uds-spacing-6: 6px;
$uds-spacing-8: 8px;
$uds-spacing-10: 10px;
$uds-spacing-12: 12px;
$uds-spacing-14: 14px;
$uds-spacing-16: 16px;
$uds-spacing-18: 18px;
$uds-spacing-24: 24px;
$uds-spacing-32: 32px;
$uds-spacing-48: 48px;
$uds-spacing-64: 64px;
$uds-spacing-80: 80px;

$uds-typography-letting-2xl: -1.9199999570846558px;
$uds-typography-letting-3xl: -2.559999942779541px;
$uds-typography-letting-lg: -1.2000000476837158px;
$uds-typography-letting-md: -0.9599999785423279px;
$uds-typography-letting-none: 0px;
$uds-typography-letting-sm: -0.7200000286102295px;
$uds-typography-letting-xl: -1.440000057220459px;
$uds-typography-line-body-lg: 24px;
$uds-typography-line-body-md: 20px;
$uds-typography-line-body-sm: 16px;
$uds-typography-line-display-2xl: 104px;
$uds-typography-line-display-3xl: 136px;
$uds-typography-line-display-lg: 68px;
$uds-typography-line-display-md: 56px;
$uds-typography-line-display-sm: 44px;
$uds-typography-line-display-xl: 80px;
$uds-typography-line-heading-lg: 36px;
$uds-typography-line-heading-md: 32px;
$uds-typography-line-heading-sm: 28px;
$uds-typography-size-body-12: 12px;
$uds-typography-size-body-14: 14px;
$uds-typography-size-body-16: 16px;
$uds-typography-size-body-18: 18px;
$uds-typography-size-body-20: 20px;
$uds-typography-size-display-36: 36px;
$uds-typography-size-display-48: 48px;
$uds-typography-size-display-60: 60px;
$uds-typography-size-display-72: 72px;
$uds-typography-size-display-96: 96px;
$uds-typography-size-display-128: 128px;
$uds-typography-size-heading-24: 24px;
$uds-typography-size-heading-28: 28px;
$uds-typography-size-heading-32: 32px;
$uds-typography-weight-400: 400;
$uds-typography-weight-500: 500;
$uds-typography-weight-600: 600;
$uds-typography-weight-700: 700;

$uds-animation-duration-100: "100ms";
$uds-animation-duration-200: "200ms";
$uds-animation-duration-300: "300ms";
$uds-animation-duration-500: "500ms";
$uds-animation-ease-accelerate: cubic-bezier(0.3, 0, 1, 1);
$uds-animation-ease-decelerate: cubic-bezier(0, 0, 0, 1);
$uds-animation-ease-emphasized: cubic-bezier(0.2, 0.0, 0, 1);
$uds-animation-ease-standard: cubic-bezier(0.4, 0.0, 0.2, 1);

$uds-aspect-ratio-21-9: "21/9";
$uds-aspect-ratio-3-2: "3/2";
$uds-aspect-ratio-4-3: "4/3";
$uds-aspect-ratio-auto: "auto";
$uds-aspect-ratio-portrait: "3/4";
$uds-aspect-ratio-square: "1/1";
$uds-aspect-ratio-video: "16/9";

$uds-cursor-disabled: "not-allowed";
$uds-cursor-drag: "grab";
$uds-cursor-dragging: "grabbing";
$uds-cursor-interactive: "pointer";

$uds-transition-property-colors: color, background-color, border-color, text-decoration-color, fill, stroke;

$uds-typography-font-primary: "Inter";
$uds-typography-font-primary-web: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
$uds-typography-font-secondary-web: "Monaco", "Menlo", "Ubuntu Mono", monospace;

$uds-user-designer: "Michael";
$uds-user-first-initial: "J";
$uds-user-fullname: "Jane Doe";
$uds-user-initials: "JD";
$uds-user-mode: "Light";
$uds-user-name: "Design System";
$uds-user-url: "chghealthcare.com";
$uds-user-year: "2026";

