.uds-scroll-view {
    all: unset;
    display: block;
    max-width: 100%;

    &--vertical {
        overflow-x: auto;
        overflow-y: hidden;
    }

    &--horizontal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}