@use "../../tokens/index" as *;
@use "../../tokens/primitives/typography.primitives" as *;

.uds-badge {
    all: unset;
    @include uds-body-12-semibold;
    align-items: center;
    border: var(--uds-border-width-1) solid transparent;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    height: 20px;
    justify-content: center;
    line-height: 1;
    min-width: 24px;
    padding: var(--uds-spacing-0) var(--uds-spacing-6);
    white-space: nowrap;
    width: fit-content;

    &--rounded {
        border-radius: 999px;
    }

    &--square {
        border-radius: var(--uds-radius-4);
    }

    &--solid {
        border-color: transparent;
        color: var(--uds-text-inverse);
    }

    &--outlined {
        background-color: transparent;
    }

    &--solid#{&}--blue { background-color: var(--uds-color-accent-blue-600); }
    &--solid#{&}--cyan { background-color: var(--uds-color-accent-cyan-600); }
    &--solid#{&}--green { background-color: var(--uds-color-accent-green-600); }
    &--solid#{&}--magenta { background-color: var(--uds-color-accent-magenta-600); }
    &--solid#{&}--indigo { background-color: var(--uds-color-accent-indigo-600); }
    &--solid#{&}--rose { background-color: var(--uds-color-accent-rose-600); }
    &--solid#{&}--neutral { background-color: var(--uds-color-neutrals-300); color: var(--uds-text-primary); }
    &--solid#{&}--orange { background-color: var(--uds-color-accent-orange-600); }
    &--solid#{&}--purple { background-color: var(--uds-color-accent-purple-600); }
    &--solid#{&}--red { background-color: var(--uds-color-accent-red-600); }
    &--solid#{&}--sky { background-color: var(--uds-color-accent-sky-600); }
    &--solid#{&}--yellow { background-color: var(--uds-color-accent-yellow-300); color: var(--uds-text-primary); }
    &--solid#{&}--lime { background-color: var(--uds-color-accent-lime-400); color: var(--uds-text-primary); }


    &--outlined#{&}--blue { color: var(--uds-color-accent-blue-600); border-color: var(--uds-color-accent-blue-600); }
    &--outlined#{&}--cyan { color: var(--uds-color-accent-cyan-600); border-color: var(--uds-color-accent-cyan-600); }
    &--outlined#{&}--green { color: var(--uds-color-accent-green-600); border-color: var(--uds-color-accent-green-600); }
    &--outlined#{&}--magenta { color: var(--uds-color-accent-magenta-600); border-color: var(--uds-color-accent-magenta-600); }
    &--outlined#{&}--indigo { color: var(--uds-color-accent-indigo-600); border-color: var(--uds-color-accent-indigo-600); }
    &--outlined#{&}--rose { color: var(--uds-color-accent-rose-600); border-color: var(--uds-color-accent-rose-600); }
    &--outlined#{&}--neutral { color: var(--uds-text-primary); border-color: var(--uds-border-primary); }
    &--outlined#{&}--orange { color: var(--uds-color-accent-orange-600); border-color: var(--uds-color-accent-orange-600); }
    &--outlined#{&}--purple { color: var(--uds-color-accent-purple-600); border-color: var(--uds-color-accent-purple-600); }
    &--outlined#{&}--red { color: var(--uds-color-accent-red-600); border-color: var(--uds-color-accent-red-600); }
    &--outlined#{&}--sky { color: var(--uds-color-accent-sky-600); border-color: var(--uds-color-accent-sky-600); }
    &--outlined#{&}--yellow { color: var(--uds-color-accent-yellow-600); border-color: var(--uds-color-accent-yellow-600); }
    &--outlined#{&}--lime { color: var(--uds-color-accent-lime-600); border-color: var(--uds-color-accent-lime-600); }

    &--solid#{&}--inverse {
        background-color: var(--uds-surface-inverse);
        color: var(--uds-text-inverse);
    }
    &--outlined#{&}--inverse {
        border-color: var(--uds-text-primary);
        color: var(--uds-text-primary);
    }
}

.uds-flex--direction-row > .uds-badge {
    flex: 0 0 auto;
    width: fit-content;
}