@use "../../tokens/index" as *;

.ds-container {
  display: block;
  border-radius: $container-radius-default;

  &--appearance-default {
    background-color: var(--uds-surface-primary);
    border: var(--uds-radius-8);
  }

  &--appearance-transparent {
    background-color: var(--uds-surface-transparent);
    border: var(--uds-border-width-1) solid var(--uds-border-transparent);
  }

  &--padding-none {
    padding: var(--uds-spacing-0);
  }

  &--padding-xsmall {
    padding: var(--uds-spacing-8);
  }

  &--padding-small {
    padding: var(--uds-spacing-12);
  }

  &--padding-default {
    padding: var(--uds-spacing-16);
  }

  &--padding-large {
    padding: var(--uds-spacing-24);
  }

  &--padding-xlarge {
    padding: var(--uds-spacing-32);
  }
}
