@use "../../tokens/index" as *;

.uds-container {
    all: unset;
    border: var(--uds-border-width-1) solid var(--uds-border-primary);
    border-radius: var(--uds-radius-8);
    display: block;

    &--surface-default,
    &--surface-panel,
    &--surface-list {
        background-color: var(--uds-surface-primary);
    }

    &--surface-secondary,
    &--surface-subtle-panel,
    &--surface-card-selectable,
    &--surface-scroll-region {
        background-color: var(--uds-surface-secondary);
    }

    &--surface-transparent {
        background-color: var(--uds-surface-transparent);
    }

    &--border-default {
        border-color: var(--uds-border-primary);
    }

    &--border-subtle {
        border-color: var(--uds-border-secondary);
    }

    &--border-none {
        border-color: var(--uds-border-transparent);
    }

    &--radius-none {
        border-radius: var(--uds-radius-0);
    }

    &--radius-sm {
        border-radius: var(--uds-radius-4);
    }

    &--radius-md {
        border-radius: var(--uds-radius-8);
    }

    &--radius-lg {
        border-radius: var(--uds-radius-12);
    }

    &--overflow-visible {
        overflow: visible;
    }

    &--overflow-hidden {
        overflow: hidden;
    }

    &--overflow-auto {
        overflow: auto;
    }

    &--overflow-clip {
        overflow: clip;
    }

    &--padding-none {
        padding: var(--uds-spacing-0);
    }

    &--padding-xsmall {
        padding: var(--uds-spacing-8);
    }

    &--padding-small {
        padding: var(--uds-spacing-12);
    }

    &--padding-default {
        padding: var(--uds-spacing-16);
    }

    &--padding-large {
        padding: var(--uds-spacing-24);
    }

    &--padding-xlarge {
        padding: var(--uds-spacing-32);
    }
}