:root {
    --uds-spacing-0: 0px;
    --uds-spacing-2: 2px;
    --uds-spacing-4: 4px;
    --uds-spacing-6: 6px;
    --uds-spacing-8: 8px;
    --uds-spacing-10: 10px;
    --uds-spacing-12: 12px;
    --uds-spacing-14: 14px;
    --uds-spacing-16: 16px;
    --uds-spacing-18: 18px;
    --uds-spacing-24: 24px;
    --uds-spacing-32: 32px;
    --uds-spacing-36: 36px;
    --uds-spacing-40: 40px;
    --uds-spacing-48: 48px;
    --uds-spacing-64: 64px;
    --uds-spacing-80: 80px;
}
