@use "./password-input.tokens" as *;

.uds-password-input {
  all: unset;
  background: var(--color-surface-1);
  border: 1px solid var(--color-border-subtle);
  border-radius: var(--radius-sm);
  padding: $password-input-example;
}
