@use "./currency-input.tokens" as *;

.uds-currency-input {
  background: var(--color-surface-1);
  border: 1px solid var(--color-border-subtle);
  border-radius: var(--radius-sm);
  padding: $currency-input-example;
}
