@use "../../tokens/primitives/typography.primitives" as *;

.uds-empty-state {
  all: unset;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--uds-gap-24);
  padding: var(--uds-spacing-16);
  text-align: center;
  width: 100%;

  &--left {
    align-items: flex-start;
    text-align: left;
  }

  &__icon {
    display: inline-flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 560px;
  }

  &__title {
    @include uds-heading-24-medium;
    color: var(--uds-text-primary);
  }

  &__description {
    @include uds-body-16;
    color: var(--uds-text-secondary);
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--uds-gap-16);
  }
}
