@use "../../tokens/index" as *;
@use "../../tokens/primitives/typography.primitives" as *;

.uds-providers-card {
    all: unset;
    background-color: var(--uds-surface-secondary);
    border: var(--uds-border-width-1) solid var(--uds-border-primary);
    border-radius: var(--uds-radius-12);
    display: flex;
    flex-direction: column;
    gap: var(--uds-spacing-12);
    padding: var(--uds-spacing-16);

    &__specialty {
        color: var(--uds-text-secondary);
    }
}
