:root {
    --uds-surface-primary: var(--system-color-white);
    --uds-surface-secondary: var(--system-color-neutrals-50);
    --uds-surface-tertiary: var(--system-color-neutrals-100);
    --uds-surface-quaternary: var(--system-color-neutrals-200);
    --uds-surface-disabled: var(--system-color-neutrals-100);
    --uds-surface-inverse: var(--system-color-black);
    --uds-surface-transparent: var(--system-color-transparent);
    --uds-surface-brand-primary: var(--uds-color-primary-50);
    --uds-surface-brand-secondary: var(--uds-color-primary-400);
    --uds-surface-brand-tertiary: var(--uds-color-primary-700);
    --uds-surface-brand-quaternary: var(--uds-color-primary-900);
}

.theme-dark {
    --uds-surface-primary: var(--system-color-black);
    --uds-surface-secondary: var(--system-color-neutrals-800);
    --uds-surface-tertiary: var(--system-color-neutrals-600);
    --uds-surface-quaternary: var(--system-color-neutrals-500);
    --uds-surface-transparent: var(--system-color-transparent);
    --uds-surface-disabled: var(--system-color-neutrals-500);
    --uds-surface-inverse: var(--system-color-white);
    --uds-surface-brand-primary: var(--uds-color-primary-50);
    --uds-surface-brand-secondary: var(--uds-color-primary-400);
    --uds-surface-brand-tertiary: var(--uds-color-primary-700);
    --uds-surface-brand-quaternary: var(--uds-color-primary-900);
}